body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 120px;
}
.footer{
    background-color: #ca5310;
    display: flex;
    padding: 16px 0px;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.footer-contenedor{
    display: flex;
    color: #fff;
    font-family: 'Changa', sans-serif;
    text-align: center;
}
.footer-contenedor-data-texto{
    font-size: 16px;
    font-weight: bold;
}
.footer-contenedor-data-subtexto{
    font-size: 14px;
    font-weight: lighter;
    margin: 0px;
}
.footer-contenedor-data{
    padding: 0px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-contenedor-apps{
    display: flex;
    justify-content: center;
}
.footer-contenedor-apps-logo{
    padding: 0px 8px;
}
@media only screen and (max-width: 700px) {
    .footer-contenedor-data{
        display: none;
    }

}